@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="h-screen py-36 text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="py-12">Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <button class="btn btn-neutral">Neutral</button>
    <button class="btn btn-primary">Primary</button>
    <button class="btn btn-secondary">Secondary</button>
    <button class="btn btn-accent">Accent</button>
    <button class="btn btn-info">Info</button>
    <button class="btn btn-success">Success</button>
    <button class="btn btn-warning">Warning</button>
    <button class="btn btn-error">Error</button>


    <p class="mt-12">   <button class="btn btn-primary" id="theme-toggle">Change Theme</button></p>

</div>


<script>
        window.onload = function () {

        const body = document.body;
        const themeToggleBtn = document.getElementById("theme-toggle");
        const themes = ["lofi", "cyberpunk"];

        //LocalStorage'dan mevcut temayı al
        let currentTheme = localStorage.getItem("theme") || "lofi";
        body.setAttribute("data-theme", currentTheme);

        themeToggleBtn.addEventListener("click", function () {
           let nextTheme = themes[(themes.indexOf(body.getAttribute("data-theme")) + 1) % themes.length];

           // Yeni temayı uygula
           body.setAttribute("data-theme", nextTheme);

           // LocalStorage'a kaydet
           localStorage.setItem("theme", nextTheme);
        });
    };
</script>